form{
	padding-top: 10px;
}

.formulario-tabla{
	padding-top: 5px;
	background-color: #FFC;
	border: #666 3px solid;
	width: 15%;
}

td{
	padding: 5px;
}
	
.no-validado{
	font-size: 18px;
	color: #F00;
	font-weight: bold;
}
	
.validado{
	font-size: 18px;
	color: #0C3;
	font-weight: bold;
}